
@{
    Layout = "~/Views/Tenant-A/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
    var name = (String)ViewBag.Name;
    string tenantId = (String)ViewBag.TenantId;
}

<h2>Welcome to Service Department</h2>

